.container {
	margin: auto;
	max-width: 390px;
}

.backLink {
	text-decoration: none;
	margin-bottom: 20px;
}

.timerContainer {
	margin-top: 27px;
	padding-left: 26px;
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 100%;
	height: 100%;
}

.timerText {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.pauseButton {
	background-color: #f9891c;
}

.pauseButton:hover {
	background-color: #db7c1d;
}

.resetButton {
	background-color: #757677;
}

.resetButton:hover {
	background-color: #5a6268;
}

.playButton {
	background-color: #28a745;
}

.playButton:hover {
	background-color: #208839;
}
